################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAReportExtractor/GAReportExtractor.App/bin/Debug
/GAReportExtractor/GAReportExtractor.App/obj/Debug
/.vs
/GAReportExtractor/.vs
