<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportConfiguration" type="GAReportExtractor.Library.Configuration.ReportConfiguration, GAReportExtractor.Library" />
  </configSections>
  <appSettings>
   <add key="KeyFileName" value="key.json" />   
   <add key="PropertyId" value="Placeholder for GA4 Property ID" />
   <!--Output directory to save generated report-->
   <add key="OutputDirectory" value="C:\GAReports" />
  </appSettings>
  <reportConfiguration>
    <!--Specify either Start & End date in MM/DD/YYYY format or NumberOfDays. In case of start and end date, number of days configuration would be skipped-->
    <dateConfiguration startDate="" endDate="" numberOfDays="1" />
    <reports>
      <!--Set recordCount value as empty to get all records-->
      <!--orderBy values have format as field name-Sort order. e.g.,ga:pageviews-DESCENDING or ga:pageviews-ASCENDING  -->
      <report name="PageViews" metrics="screenPageViews" dimensions="dateHour,pagePath" />      
    </reports>
  </reportConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.58.0.0" newVersion="1.58.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>